settings.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Vrettos Georgios 
This XML Schema File is made in order to validate the XML file "settings.xml".-->

<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    
    <xs:complexType name="photo">
        <xs:attribute name="pid" type="xs:ID"/>
        <xs:attribute name="size50">
            <xs:simpleType>
                <xs:restriction base="xs:decimal">
                    <xs:minExclusive value="0.0"/>
                    <xs:maxInclusive value="50.0"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="current_photo">
        <xs:sequence>
            <xs:element name="photo" type="photo" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="other_photos">
        <xs:sequence>
            <xs:element name="photo" type="photo" maxOccurs="1000"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="photos">
        <xs:sequence>
            <xs:element name = "current_photo" type="current_photo"/>
            <xs:element name = "other_photos" type="other_photos"/>
        </xs:sequence> 
    </xs:complexType>
    <xs:simpleType name="month">
        <xs:restriction base="xs:integer">
                    <xs:minExclusive value="0"/>
                    <xs:maxInclusive value="12"/>
       </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="day">
        <xs:restriction base="xs:integer">
                    <xs:minExclusive value="0"/>
                    <xs:maxInclusive value="31"/>
       </xs:restriction>     
    </xs:simpleType>
    <xs:complexType name="birthday">
        <xs:sequence>
            <xs:element name="year" type="xs:integer"/>
            <xs:element name="month" type="month"/>
            <xs:element name="day" type="day"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="gender">
        <xs:restriction base="xs:string">
                    <xs:enumeration value="Male"/>
                    <xs:enumeration value="Female"/>
        </xs:restriction> 
    </xs:simpleType>
    <xs:complexType name="location_from">
        <xs:sequence>
            <xs:element name="country" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="my_profile">
        <xs:sequence>
            <xs:element name="photos" type="photos"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="birthday" type="birthday"/>
            <xs:element name="gender" type="gender"/>
            <xs:element name="location" type="location_from"/>
            <xs:element name="weight" type="xs:integer"/>
            <xs:element name="url" type="xs:string"/>
            <xs:element name="bio" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="membership_status">
        <xs:restriction base="xs:string">
                    <xs:enumeration value="Free"/>
                    <xs:enumeration value="Premium"/>
        </xs:restriction> 
    </xs:simpleType>
    <xs:complexType name="member_since">
        <xs:sequence>
            <xs:element name="year" type="xs:integer"/>
            <xs:element name="month" type="month"/>
            <xs:element name="day" type="day"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="my_account">
        <xs:sequence>
            <xs:element name="member_since" type="member_since"/>
            <xs:element name="membership_status" type="membership_status"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="units">
        <xs:restriction base="xs:string">
                    <xs:enumeration value="Kilometers and Kilograms"/>
                    <xs:enumeration value="Miles and Pounds"/>
        </xs:restriction> 
    </xs:simpleType>
    <xs:simpleType name="default_highlight_image">
        <xs:restriction base="xs:string">
                    <xs:enumeration value="Photo"/>
                    <xs:enumeration value="Map"/>
        </xs:restriction> 
    </xs:simpleType>
    <xs:complexType name="display_preferences">
        <xs:sequence>
            <xs:element name="units" type="units"/>
            <xs:element name="default_sport" type="xs:string"/>
            <xs:element name="default_highlight_image" type="default_highlight_image"/>       
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="location_hid">
        <xs:sequence>
            <xs:element name="street" type="xs:string"/>
            <xs:element name="number" type="xs:integer"/>
            <xs:element name="zip" type="xs:integer"/>
        </xs:sequence>
        <xs:attribute name="lid" type="xs:ID"/>
    </xs:complexType>
    <xs:complexType name="hidden_locations">
        <xs:sequence>
            <xs:element name="location" type="location_hid" maxOccurs="5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="on_off">
        <xs:restriction base="xs:string">
                    <xs:enumeration value="On"/>
                    <xs:enumeration value="Off"/>
        </xs:restriction> 
    </xs:simpleType>
    <xs:simpleType name="visibility">
        <xs:restriction base="xs:string">
                    <xs:enumeration value="Everyone"/>
                    <xs:enumeration value="Nobody"/>
        </xs:restriction> 
    </xs:simpleType>
    <xs:complexType name="privacy">
        <xs:sequence>
            <xs:element name="enhaced_privacy" type="on_off"/>
            <xs:element name="flyby_visibility" type="visibility"/>
            <xs:element name="log_visibility" type="visibility"/>
            <xs:element name="hidden_locations" type="hidden_locations"/>
            <xs:element name="private_activities" type="on_off"/>   
            <xs:element name="hidden_from_leaderboards" type="on_off"/>   
            <xs:element name="data_usage" type="on_off"/>          
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="email_notifications">
        <xs:sequence>
            <xs:element name="club_email" type="on_off"/>
            <xs:element name="social_email" type="on_off"/>
            <xs:element name="segment_email" type="on_off"/>
            <xs:element name="newsletter" type="on_off"/>
            <xs:element name="language" type="xs:string"/>            
        </xs:sequence> 
    </xs:complexType>
    <xs:complexType name="bike">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="kilometers" type="xs:double"/>
        </xs:sequence>
        <xs:attribute name="bike_id" type="xs:ID"/>
        <xs:attribute name="bike_status">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="default"/>
                            <xs:enumeration value="available"/>
                            <xs:enumeration value="retired"/>
                        </xs:restriction>
                    </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="my_bikes">
        <xs:sequence>
            <xs:element name= "bike" type="bike" maxOccurs="20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="shoe">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="kilometers" type="xs:double"/>
        </xs:sequence>
        <xs:attribute name="shoe_id" type="xs:ID"/>
        <xs:attribute name="shoe_status">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="default"/>
                            <xs:enumeration value="available"/>
                            <xs:enumeration value="retired"/>
                        </xs:restriction>
                    </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="my_shoes">
        <xs:sequence>
            <xs:element name= "shoe" type="shoe" maxOccurs="20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="my_gear">
        <xs:sequence>
            <xs:element name="my_bikes" type="my_bikes"/>
            <xs:element name="my_shoes" type="my_shoes"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="app">
        <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="app_id" type="xs:ID"/>
        <xs:attribute name="access">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="granted"/>
                            <xs:enumeration value="denied"/>
                        </xs:restriction>
                    </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="my_apps">
        <xs:sequence>
            <xs:element name= "app" type="app" maxOccurs="30"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="icon">
        <xs:attribute name="icid" type="xs:ID"/>
        <xs:attribute name="size10">
            <xs:simpleType>
                <xs:restriction base="xs:decimal">
                    <xs:minExclusive value="0.0"/>
                    <xs:maxInclusive value="10.0"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="service">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="icon" type="icon"/>
        </xs:sequence>
        <xs:attribute name="service_id" type="xs:ID"/>
        <xs:attribute name="service_status">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="connected"/>
                    <xs:enumeration value="disconnected"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="social_connections">
        <xs:sequence>
        <xs:element name= "service" type="service" minOccurs="6" maxOccurs="6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="settings">
        <xs:sequence>
            <xs:element name="my_profile" type="my_profile"/>
            <xs:element name="my_account" type="my_account"/>
            <xs:element name="display_preferences" type="display_preferences"/>
            <xs:element name="privacy" type="privacy"/>
            <xs:element name="email_notifications" type="email_notifications"/>   
            <xs:element name="my_gear" type="my_gear"/>   
            <xs:element name="my_apps" type="my_apps"/>   
            <xs:element name="social_connections" type="social_connections"/>        
        </xs:sequence>
    </xs:complexType>
    <xs:element name="settings" type="settings"/>
</xs:schema>
